.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #222;
}

.navbar button {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #3ecf8e;
  color: #3ecf8e;
  cursor: pointer;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #3ecf8e;
  color: black;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar button {
    margin: 5px 0;
    width: 100%;
  }
}
