.app {
  display: flex;
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
